pymupdf
gensim==4.3.2
langchain
langchain-community
nltk 
Requests 
transformers
openai
# openai==0.28
torch
transformers
sentencepiece
datasets 
diffusers
soundfile
opencv-python
ffmpeg
faster_whisper
moviepy
ffmpeg-python
accelerate
requests 
pydub
scipy
whisper
moviepy==2.0.0.dev2
imageio==2.25.1
git+https://github.com/openai/whisper.git
pysrt
pymupdf
paramiko
elevenlabs

